*, *::before, *::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	min-width: 1263px;
	max-width: 1920px;
	background-color: #fff;
	margin: 0 auto;
	font-family: sans-serif;
}
#fullpage{
	display: none;
}
/* ******************************************** */

.c-hamburger {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 110;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 22px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.c-hamburger:focus {
	outline: none;
}
.c-hamburger span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px	;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 2px;
	background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	content: "";
}

.c-hamburger span::before {
	top: -10px;
}

.c-hamburger span::after {
	bottom: -10px;
}


.c-hamburger--htx {
	background-color: transparent;
}

.c-hamburger--htx span {
	transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
	transition-property: top, transform;
}

.c-hamburger--htx span::after {
	transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
	background-color: transparent;
}

.c-hamburger--htx.is-active span {
	background: none;
}

.c-hamburger--htx.is-active span::before {
	top: 0;
	transform: rotate(45deg);
	background-color: #141414;
}

.c-hamburger--htx.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
	background-color: #141414;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
	transition-delay: 0s, 0.3s;
}

/* ************************************************** */


.activeMenu{
	display: block !important;
	width: 475px;
	transition: .3s width;

}
.mainMenu{
	width: 475px;
	display: none;
	background-color: #fff;
	color: #000;
	height: 100%;
	z-index: 200;
	position: absolute;
	right: 0;
	top: -30px;
	min-height: 100vh;
	transition: .3s width;
	box-shadow: -8px 0px 15px rgba(20, 20, 20, .10);
}
.mainMenuWrapp{
	position: relative;
	width: 100%;
	height: 100%;
}
.mainMenuWrapp ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.mainMenuWrapp nav{
	position: absolute;
	top: 50%;
	left: 14.73%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mainMenuWrapp nav li{
	margin-bottom: 33px;
	text-align: left;

}
.mainMenuWrapp nav a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
	-webkit-transition: .3s color;
	-o-transition: .3s color;
	transition: .3s color;
	font-family: "PT Sans";
	font-weight: 700;
}






#header {
	position:fixed;
	height: 78px;
	display:flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	background: #333;
	z-index:10;
	text-align:center;
	color: #f2f2f2;
	padding: 0px 30px;
	top: 0;
	right: 0;
	left: 0;
	margin-top: 30px;
}
.header__left{
	height: 74px;
}
.header__right{
	position: relative;
	display: block;
	height: 22px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}
.header__right--number{
	position: relative;
	top: 0;
	right: 55px;
	z-index: 300;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
	font-size: 16px;
}
.activePhone{
	color: #141414 !important;
}

#footer{
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#fp-nav span{

	background-color: #aaa !important;

}
	/* #fp-nav li::after{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: transparent;
		border:  1px solid #343434;
		display: block;
		} */

		.menuWrapper{
			position: absolute;top: 0;
			right: 0;
			z-index: 20;
			right: 0px;
			top: 0px;
			z-index: 300;
		}

.wrapper_methodologyWorks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.wrap_methodologyWorks {
    width: 90%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.wrap_methodologyWorks hr {
    width: 100%;
    background: #141414;
    margin: 50px 0;
    height: 1px;
    border: none;
}

.titText_methodologyWorks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}.titText_methodologyWorks :first-child{
    width: 50%;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
}.titText_methodologyWorks :last-child{
    width: 45%;
    font-family: PT Sans;
    color: #bebebe;
    font-size: .92em;
    line-height: 22px;
}

.jobs_methodologyWorks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.job_methodologyWorks {
    width: calc(90% / 3 );
    padding: 20px;
    box-shadow: 1px 1px 35px rgba(0, 0, 0, .1);
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    font-family: PT Sans;
    font-size: 1.1em;
    flex-wrap: wrap;
}
.job_methodologyWorks :nth-child(1) {
    font-style: italic;
}
.job_methodologyWorks :nth-child(2) {
    font-weight: 700;
    margin: 20px 0;
}


/*пагинаторы еже*/

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #aaaaaa;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    background: #141414 !important;
}

#fp-nav ul li a.active span:before {
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100%;
}

/*fucking preloader*/
.wrapper_preloader {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: #fff;
    z-index: 105;
    position: relative;
    transition: opacity 1.1s, transform 0s 1.3s;
}

.wrap_preloader {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.wrap_preloader img {
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: .9s;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 107;
}

.svg_preloader {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 0% 330%;
    fill: transparent;  
}

.svg_preloaderJS {
    stroke-dasharray: 250% 330%;
    fill:#ff4747;
    transition: stroke-dasharray 1.7s linear, fill .5s 1.7s linear, left .7s 1.8s;
    z-index: 107;
    left: 46%;
}

.count_preloader {
    position: absolute;
    bottom: 50px;
    font-family: Fira Sans;
}
/*end fucking preloader*/



/*________*/

/*@media only screen  and (max-width: 1280px) {
    body {
        font-size: .9em;
    }
    .job_methodologyWorks {
        width: calc(80% / 3);
    }
}*/


/* ********************************************* */
/*fucking preloader*/
.wrapper_preloader {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: #fff;
    z-index: 500;
    position: fixed;
    transition: opacity 1.1s, transform 0s 1.3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrap_preloader {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.wrap_preloader img {
    opacity: 0;
    position: relative;
    transition: .9s;
    left: -3%;
    z-index: 7;
}

.svg_preloader {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    animation: test 1.5s infinite;
    stroke-dasharray: 0% 330%;
    fill: transparent;
}

.svg_preloaderJS {
    stroke-dasharray: 250% 330%;
    fill:#ff4747;
    transition: stroke-dasharray 1.7s linear, fill .5s 1.7s linear, left .7s 1.8s;
    z-index: 6;
    left: 46%;
}

.count_preloader {
    position: absolute;
    bottom: 50px;
}



